doctype html
html
  head
    meta(charset='UTF-8')
    title webpack 2 demo
    //- bootstrap 4
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    script(src='//code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
    //- bootstrap 4
    script(src="//cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js")
    script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js')
  body
    .app.d-flex.justify-content-center.align-items-center
      .card
        .card-header
          h2 Hi!
        .card-block
          .form-group
            input.form-control(type="number")
          .form-group.align-center
            button.btn.btn-primary.btn-lg START
    canvas#canvas-wrap